name: Deploy API

on:
  push:
    branches:
      - main
    paths:
      - 'api/**'
  pull_request:
    branches:
      - main
    paths:
      - 'api/**'

jobs:
  # run test here

  deploy:
    runs-on: ubuntu-latest
    env:
      CI: false
    steps:
      - name: trigger deployment
        run: curl --request GET '${{ secrets.COOLIFY_WEBHOOK }}' --header 'Authorization: Bearer ${{ secrets.COOLIFY_TOKEN }}'